numpy<2.0.0
datasets
scipy
tqdm
math_verify
word2number
rapidfuzz
colorlog
appdirs
modelscope
pytest
rich
pydantic
nltk
colorama
gradio>5
json5
tiktoken
pyarrow==20.0.0 # larger than this will bug on python 3.10
cookiecutter # auto template gen from CLI
pypdf
# text2sql
pymysql
# general text
fasttext; python_version >= "3.13" # https://github.com/OpenDCAI/DataFlow/pull/470
fasttext-wheel; python_version < "3.13" # https://github.com/OpenDCAI/DataFlow/pull/470
langkit
openai
presidio_analyzer
presidio_anonymizer
vendi-score==0.0.3
google-api-core
google-api-python-client
evaluate
contractions
symspellpy
simhash
# dataflow agent
pandas
openpyxl>=3.1.0
python-docx>=1.0.0
python-pptx>=0.6.23
xlwt>=1.3.0
reportlab>=4.0.0
pyyaml
requests
google-genai
boto3
google-cloud-aiplatform>=1.55
google-cloud-bigquery

# nanobot serving
nanobot-ai>=0.1.5
